.banner{
    height: 500px;
    display: flex;
    background-color: aliceblue;
    justify-content: space-around;
    align-items: center;
    font-family: ;
}
.banner-image img{
    width: 100%;
}